[submodule ".config/nvim/pathogen"]
	path = .config/nvim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".config/nvim/bundle/fugitive"]
	path = .config/nvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/bundle/ctrlp"]
	path = .config/nvim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".config/nvim/bundle/airline-vim"]
	path = .config/nvim/bundle/airline-vim
	url = https://github.com/bling/vim-airline
[submodule ".config/nvim/bundle/promptline-vim"]
	path = .config/nvim/bundle/promptline-vim
	url = https://github.com/edkolev/promptline.config/nvim.git
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/bundle/YouCompleteMe"]
	path = .config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".config/nvim/bundle/chromatica.nvim"]
	path = .config/nvim/bundle/chromatica.nvim
	url = https://github.com/arakashic/chromatica.nvim
[submodule ".config/nvim/bundle/auto-pairs"]
	path = .config/nvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".config/nvim/bundle/oceanic-next"]
	path = .config/nvim/bundle/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule ".config/nvim/bundle/vim-two-firewatch"]
	path = .config/nvim/bundle/vim-two-firewatch
	url = https://github.com/rakr/vim-two-firewatch
[submodule ".config/nvim/bundle/vim-rtags"]
	path = .config/nvim/bundle/vim-rtags
	url = https://github.com/lyuts/vim-rtags
[submodule ".config/nvim/bundle/promptline.vim"]
	path = .config/nvim/bundle/promptline.vim
	url = https://github.com/plexigras/promptline.vim
[submodule ".config/nvim/bundle/tagbar"]
	path = .config/nvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
