[submodule ".config/nvim/pathogen"]
	path = .config/nvim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".config/nvim/bundle/fugitive"]
	path = .config/nvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/bundle/ctrlp"]
	path = .config/nvim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".config/nvim/bundle/base16-vim"]
	path = .config/nvim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".config/nvim/bundle/airline-vim"]
	path = .config/nvim/bundle/airline-vim
	url = https://github.com/bling/vim-airline
[submodule ".config/nvim/bundle/promptline-vim"]
	path = .config/nvim/bundle/promptline-vim
	url = https://github.com/edkolev/promptline.config/nvim.git
[submodule ".config/nvim/bundle/vim-airline-themes"]
	path = .config/nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/bundle/YouCompleteMe"]
	path = .config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
