Xft.dpi: 102
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.modi: run,ssh
rofi.opacity: 95
rofi.font: Iosevka Term 14px
rofi.color-enabled: true
rofi.color-window: #091623,#ae81ff,#d8d8d8
rofi.color-normal: #091623,#d8d8d8,#0b1c2c,#ae81ff,#181818
rofi.bw: 2
rofi.terminal: termite
rofi.width: 20
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
