Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.modi: run,ssh
rofi.opacity: 95
rofi.font: Iosevka Term 14px
rofi.color-enabled: true
/* background border-color separator-color */
rofi.color-window: #263238,#82aaff,#cdd3de
/* background foreground background-alt highlight-background highlight-foreground */
rofi.color-normal: #263238,#cdd3de,#37474f,#82aaff,#263238
rofi.bw: 2
rofi.terminal: termite
rofi.width: 20
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"

Xautolock.time: 5
Xautolock.locker: /home/jura/bin/screenlock.sh
